<div class="register-container">
  <div class="form-box">
    <h2>ساخت حساب کاربری</h2>

    <form (ngSubmit)="register()" #registerForm="ngForm">
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="نام کاربری"
        class="input"
      />

      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="رمز عبور"
        class="input"
      />

      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        placeholder="تکرار رمز عبور"
        class="input"
      />

      <button type="submit" class="submit-button">ثبت نام</button>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

      <p class="link-text">
        قبلاً حساب دارید؟
        <a [routerLink]="['/login']" class="animated-link">وارد شوید</a>
      </p>
    </form>
  </div>
</div>
